node_modules
.wwebjs_auth
data
.env
.env.vps
*.dump
.git
.github
.netlify
.netlify-publish
.netlify-cli-cache
.netlify-cli-fresh
.railway-stage-*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test-github-temp.js
